<h1>Add Players</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Match ID</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @players.each do |player| %>
      <tr>
        <td><%= player.name %></td>
        <td><%= player.match_id %></td>
        <td><%= link_to 'Edit', edit_player_path(player) %></td>
        <td><%= link_to 'Remove', player, :confirm => 'Are you sure?', :method => :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br><br><br>

<%= link_to 'New Player', new_player_path %>
<br><br>
<%= link_to 'Start Game', match_url(@match) %>

