<p id="notice"><%= notice %></p>

<p>
  <strong> name:</strong>
  <%= @player. name %>
</p>

<p>
  <strong>Score:</strong>
  <%= @player.score %>
</p>

<%= link_to 'Edit', edit_player_path(@player) %> |
<%= link_to 'Back', players_path %>
