<h1>List of Matches</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @matches.each do |match| %>
      <tr>
        <td><%= match.name %></td>
        <td><%= link_to 'Delete', match, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <!-- if match has started, can't add new players -->
        <% if !match.started %>
          <td><%= link_to 'Add Players', players_url(:match_id => match.id) %></td>
        <% end %>
        <!-- if match has no players, can't start game -->
        <% if match.players.size != 0 %>
          <% if match.end_of_game %>
            <td><%= link_to 'See Results', matches_path %></td>     <!-- need to go to end page -->
          <% else %>
            <td><%= link_to 'Return To Game', match %></td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<br>
<br>
<br>

<%= link_to 'Create New Match', new_match_path %>