<p id="notice"><%= notice %></p>

<p>
  <strong><h1><%= @match.name %> </h1></strong>
  <h2>Frame <%= @match.frame %> </h2>
</p>

<table>
  <tr>
    <th> Name</th>
    <th> Score </th>
    <th> Points </th>
  </tr>

<% @match.players.each do |player| %>
  <tr>
    <td>
      <%= player.name %> </br>
    </td>
    <td>
      <%= render partial: "scoresheet", locals: {player: player} %>
    </td>
    <td>
      <center><%= player.get_points %> </br></center>
    </td>
  </tr>
<% end %>
</table>

<br>
<br>

<b>=========================================</b>

<% if !@match.end_of_game %>

  <h2><b><u><%= @match.current_player_name %></b>'s Turn</u></h2>

  <br>

  Enter Score: 
  <%= render 'frames/form' %>

  <br>
  <br>
  <br>

  <%= link_to 'Quit Game', matches_url %>

<% else %>

  <h2><b>
  <% winners = @match.winner %>
  <% if winners.size == 1 %>
    <%= winners[0].name %> is the winner
  <% else %>
    <% for i in 0..winners.size-1 %>
      <%= winners[i].name %>,&nbsp
    <% end %>
    are the winners
  <% end %>
  </b></h2>

  <br>
  <br>
  <br>

  <%= link_to 'Back', matches_url %>

<% end %>

