<p id="notice"><%= notice %></p>

<p>
  <strong>Try1:</strong>
  <%= @frame.try1 %>
</p>

<p>
  <strong>Try2:</strong>
  <%= @frame.try2%>
</p>

<p>
  <strong>Number:</strong>
  <%= @frame.number %>
</p>

<%= link_to 'Edit', edit_frame_path(@frame) %> |
<%= link_to 'Back', frames_path %>
